<a href='/person/index'>List</a>
    <h2>Person Create form</h2>
    <form action='/person/create' method='POST'>
    <table>
    
    <tr><td>Name</td><td><input type='text' name='Person[name]'></td></tr>
    <tr><td>Age</td><td><input type='text' name='Person[age]'></td></tr>
    </table>
   
    <input type='submit' value='add'>
    </form>
    