<div class="container">
  	<nav class="navbar navbar-inverse container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><%= title %></a>
	    </div>
	    <div class="navbar-right">
	      <a class="navbar-brand" id="leaveGame" href="javascript:void(0)">Leave Game</a>
	    </div>
  	</nav>
  	<div class="row">
	  	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
	  		<div class="panel panel-default">
	  			<div class="panel-heading">Online Players</div>
	    		<ul class="list-group" id="onlineplayers">
	      			<% for(var i=0; i< users.length; i++){
	       			%>
	      			<li href="#" class="list-group-item"><%= users[i].username %></li>
	      			<%
	    				} %>
	    		</ul>
			</div>
	  	</div>
	  	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
	  		<div class="panel panel-default">
	  			<div class="panel-heading">Play Game</div>
	  			
	  				<div class="jumbotron">
	  				<% if(users.length==1){ %>
	  					<h1>Waiting</h1>
	  					<p>Only 1 player available</p>
	  				<% } else if(playing=='NO') { %>
	  					<h1>You may play now!</h1>
	  					<button class="btn btn-lg btn-primary btn-block" onclick="playGame(1)" type="button">Play</button>
	  				<% } else { %>
	  					<h1>Playing</h1>
	  					<button class="btn btn-lg btn-primary btn-block" onclick="playGame(0)" type="button">Stop</button>
	  				<% } %>
	  				</div>
	  			
	  		</div>
	  	</div>
  	</div>
</div>